@import '../../style/themes/default.less';
@cssPrefix: gy-icon;


.@{cssPrefix} {
  display: inline-block;
  line-height: 1;
  fill: currentColor;
  color:@primary-color;

  > svg {
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    vertical-align: middle;
  }
}
